# Base de datos local (cada usuario tendrá la suya)
instance/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
env/

# Variables de entorno
.env

# Ficheros del sistema
.DS_Store
Thumbs.db